In [11]:
ids = {'user1': [213, 213, 213, 15, 213], 
       'user2': [54, 54, 119, 119, 119], 
       'user3': [213, 98, 98, 35]}
for  value in ids.items():
    print(values)

NameError: name 'values' is not defined

In [15]:
for  value in ids.items():
    print(value)

[213, 213, 213, 15, 213]
[54, 54, 119, 119, 119]
[213, 98, 98, 35]

In [29]:
for  key, value in ids.items():
    print(key, value)

user1 [213, 213, 213, 15, 213]
user2 [54, 54, 119, 119, 119]
user3 [213, 98, 98, 35]

In [31]:
for i in ids:
    if ids[i]
    print(ids[i])

SyntaxError: expected ':' (258849935.py, line 2)

In [55]:
unic = set()
for key, value in ids.items():
    unic.update(value)

print("Результат:", unic)

Результат: {98, 35, 15, 213, 54, 119}

In [77]:
queries = [
    'смотреть сериалы онлайн',
    'новости спорта',
    'афиша кино',
    'курс доллара',
    'сериалы этим летом',
    'курс по питону',
    'сериалы про спорт',
]
q = queries[0]
print(len(q.split()))

3

In [63]:
queries[0]

'смотреть сериалы онлайн'

In [83]:
for query in queries:
    print(len(query.split()))

3
2
2
2
3
3
3

In [ ]:
words = {}
for query in queries:
   list  = print(len(query.split()))
if list in words: